---------------------------------------------------------------------------------------
NOTE: THIS IS A GIT COMMIT MESSAGE TEMPLATE FOR AI COPILOT GENERATED GIT COMMIT MESSAGE
NOTE: SAVE FILE AS ".gitmessage.txt"
---------------------------------------------------------------------------------------


# Write one or more bullets like:
# - Add <thing>
# - Fix <issue> (refs #123)
# Lines starting with # are ignored.

